<!DOCTYPE html>
{% extends "basic_app/base.html" %}
  {% block body_block %}
    <h1>WELCOME TO OTHER!</h1>
    <h2>This is an exmample of inheritance!</h2>
    <a href="{% url 'basic_app:relative' %}">relative page</a>
    {% endblock %}




<!-- before inheritance code -->
<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>WELCOME TO OTHER!</h1>
    <a href="{% url 'basic_app:relative' %}">relative page</a>

  </body>
</html> -->
